html {
  font-size: 62.5%;
  font-family: 'Noto Serif JP', serif;
}

.title {
  font-size: 1.8rem;
  padding: 1.5rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
    font-weight: bold;
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 3rem;
  }
}

.sub {
  font-size: 1.6rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .sub {
    font-size: 2.2rem;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .sub {
    font-size: 2.5rem;
    padding: 2rem;
  }
}

.text {
  font-size: 1.4rem;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 2rem;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .text {
    font-size: 2rem;
    padding: 1.5rem;
  }
}

.inner-common {
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .inner-common {
    padding: 3rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .inner-common {
    padding: 3.5rem 0;
  }
}

.title-common {
  padding: 2em;
}

@media screen and (min-width: 768px) {
  .title-common {
    padding: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  .title-common {
    padding: 3em;
  }
}

.section-common {
  padding: 2em;
}

@media screen and (min-width: 768px) {
  .section-common {
    padding: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  .section-common {
    padding: 3em;
  }
}

.header-inner {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #60412b;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-inner h1 {
  font-size: 2rem;
  padding: 0.5em;
}

.header-inner nav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 70px;
  color: #FFF;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  z-index: 1000;
}

@media screen and (min-width: 1024px) {
  .header-inner nav {
    opacity: 1;
    visibility: visible;
    margin-left: auto;
    position: static;
    height: auto;
    width: auto;
    background-color: initial;
    color: initial;
    opacity: initial;
  }
}

.header-inner nav ul {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 1024px) {
  .header-inner nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
}

.header-inner nav ul li {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .header-inner nav ul li {
    width: auto;
    text-align: initial;
  }
}

.header-inner nav ul li a {
  display: block;
  font-size: 1.6rem;
  width: 100%;
  padding: 1em;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .header-inner nav ul li a {
    position: relative;
    font-size: 1.6rem;
    padding: 1em;
  }
  .header-inner nav ul li a::before {
    content: "";
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FFF;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .header-inner nav ul li a:hover::before {
    bottom: 10%;
    opacity: 1;
    width: 70%;
  }
}

.header-inner .toggle {
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 1024px) {
  .header-inner .toggle {
    height: auto;
  }
}

.header-inner .menuicon {
  display: block;
  margin: 0 10px 0 auto;
  cursor: pointer;
  padding: 1em;
  -webkit-box-shadow: 0 0 2px #FFF;
          box-shadow: 0 0 2px #FFF;
}

@media screen and (min-width: 1024px) {
  .header-inner .menuicon {
    display: none;
  }
}

.header-inner .menuicon :nth-child(1) {
  display: block;
  height: 3px;
  width: 30px;
  margin: 0 0 7px 0;
  background-color: #FFF;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.header-inner .menuicon :nth-child(2) {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #FFF;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.header-inner .menuicon :nth-child(3) {
  display: block;
  height: 3px;
  width: 30px;
  margin: 7px 0 0 0;
  background-color: #FFF;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.header-inner .menuicon .cross1 {
  -webkit-transform: translateY(10px) rotate(-315deg);
          transform: translateY(10px) rotate(-315deg);
}

.header-inner .menuicon .cross2 {
  opacity: 0;
}

.header-inner .menuicon .cross3 {
  -webkit-transform: translateY(-10px) rotate(315deg);
          transform: translateY(-10px) rotate(315deg);
}

.header-inner .mask {
  width: 100vw;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.header-inner .mask-on {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 1024px) {
  .header-inner .mask-on {
    visibility: hidden;
  }
}

.main {
  margin-top: 70px;
}

.main .kv {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
}

.main .kv::before {
  content: "";
  display: block;
  width: 100%;
  height: calc(100vh - 70px);
  background: url(img/img01.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.main .kv .kv-inner {
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.main .kv .kv-inner h1 {
  font-weight: inherit;
}

.main .kv .kv-inner a {
  display: inline-block;
  position: relative;
  padding: 1em 2em 1em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #687672;
  color: #fff;
}

.main .kv .kv-inner a::before {
  position: absolute;
  top: 50%;
  right: 1em;
  width: 0.5em;
  height: 0.5em;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  content: "";
}

.news {
  width: 100%;
}

.news .about-inner {
  margin: 0 auto;
  width: 90%;
}

.news .about-inner h2 {
  font-weight: initial;
  text-align: center;
}

.news .about-inner ul {
  width: 100%;
}

.news .about-inner ul li {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
}

.news .about-inner ul li a {
  margin-top: 0.8em;
  font-size: 1.2rem;
  padding: 0.8em 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .news .about-inner ul li a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .news .about-inner ul li a {
    font-size: 1.8rem;
  }
}

.news .about-inner ul li a :nth-child(1) {
  display: none;
}

@media screen and (min-width: 768px) {
  .news .about-inner ul li a :nth-child(1) {
    display: inline-block;
    width: 20%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .news .about-inner ul li a :nth-child(1) {
    display: inline-block;
    width: 20%;
    text-align: center;
  }
}

.news .about-inner ul li a :nth-child(2) {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .news .about-inner ul li a :nth-child(2) {
    display: inline-block;
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .news .about-inner ul li a :nth-child(2) {
    display: inline-block;
    width: 70%;
  }
}

.news .about-inner .btn {
  margin: 2rem 0;
  text-align: right;
}

.news .about-inner .btn a {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1em 2em 1em 1em;
}

.news .about-inner .btn a::before {
  position: absolute;
  top: 50%;
  right: 1em;
  width: 0.5em;
  height: 0.5em;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  content: "";
}

.about {
  background-color: #3c455c;
  color: #fff;
}

.about .about-inner {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.about .about-inner h2 {
  font-weight: initial;
}

.about .about-inner h3 {
  width: 100%;
  margin: 0 auto;
}

.lesson {
  width: 100%;
}

.lesson .lesson-inner {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lesson .lesson-inner .lesson-head {
  width: 100%;
  text-align: center;
}

.lesson .lesson-inner .lesson-head h2 {
  font-weight: initial;
}

.lesson .lesson-inner .lesson-middle {
  width: 100%;
  padding: 2em 0;
}

.lesson .lesson-inner .lesson-middle table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .lesson .lesson-inner .lesson-middle table {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .lesson .lesson-inner .lesson-middle table {
    font-size: 1.8rem;
  }
}

.lesson .lesson-inner .lesson-middle table tbody tr th {
  border-bottom: solid 2px #3c455c;
  padding: 1em 0;
  text-align: center;
  width: 33.3%;
}

.lesson .lesson-inner .lesson-middle table tbody tr td {
  border-bottom: solid 2px #ddd;
  padding: 1em 0;
  width: 33.3%;
}

.lesson .lesson-inner .lesson-bottom {
  margin: 2rem 0 2rem auto;
  text-align: right;
}

.lesson .lesson-inner .lesson-bottom a {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1em 2em 1em 1em;
}

.lesson .lesson-inner .lesson-bottom a::before {
  position: absolute;
  top: 50%;
  right: 1em;
  width: 0.5em;
  height: 0.5em;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  content: "";
}

.access {
  color: #fff;
  background-color: #687672;
  width: 100%;
}

.access .title {
  text-align: center;
  font-weight: initial;
}

.access p {
  text-align: center;
}

.access .googlemap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

@media screen and (min-width: 768px) {
  .access .googlemap {
    padding-top: 56.25%;
  }
}

@media screen and (min-width: 1024px) {
  .access .googlemap {
    padding-top: 25%;
  }
}

.access .googlemap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  text-align: center;
  background-color: #60412b;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */
